@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
/* font-family: 'Grand Hotel', cursive; */

body{
    background: linear-gradient(to right,#c54b8c,#da3287);
}
h2{
   font-family: 'Grand Hotel', cursive; 
   font-size: 40px;
}
.inp{
 
    border-radius: 0%;
}


.bt{
    background: none;
    border-color: rgb(218, 203, 218);
    color: rgb(235, 229, 229);
}


h6 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid rgb(177, 175, 175); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h6 small { 
     background: #da3b8a; 
     padding:0 10px;
     color: white; 
 }

 .card{
     background: none;
     border: none;
 }

 .end{
     color:whitesmoke;
 }
.footer{
    background-color: #c5549088;
}
#ho:hover{
   color: rgb(241, 16, 193);
   transition: ease-out .2s;
}
button:hover{
    background-color:rgb(231, 24, 121) ;
}